
@{
    ViewBag.Title = "HighestScore2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The highest <em>Score_2</em> value is : @ViewBag.Score_2_Max.</h2>


<p>    
    @Html.ActionLink("<<< Back to the previous page", "Index")
</p>
