
@{
    ViewBag.Title = "HighestScore2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The highest Score_2 value is : @ViewBag["Score_2"].</h2>


<p>    
    @Html.ActionLink("<<< Back to the previous page", "Index")
</p>
