
@{
    ViewBag.Title = "HighestScore_1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is the highest Score_1 value : @ViewBag["Score_1"]</h2>


<p>
    @Html.ActionLink("<<< Back to the previous page", "Index")
</p>

